*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* --Reset--  */

  @font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
  }

  html, body {
    height: 100%;
    width: 100vw;
    scrollbar-color: var(--selected-color) var(--container-color);
  }

  html::-webkit-scrollbar {
    width: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84);
    border-radius: 8px;
  }
  
  html::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }

  body {
    --background-color: rgb(3, 6, 41);
    --container-color: rgb(26, 27, 54);
    --hover-color: rgb(33, 36, 66);
    --selected-color: rgb(40, 44, 79);
    --container-border-radius: 20px;
    --container-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    --header-text-color: rgb(230, 231, 237);
    --body-text-color: rgb(190, 190, 190);
    --red: rgba(255, 0, 0, 0.6);
    --orange: rgba(255, 180, 0, 0.7);
    --green: rgba(44, 163, 0, 0.6);

    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    background-color: var(--background-color);
    display: flex;
    gap: 15px;

    padding: 15px;

    color: var(--header-text-color);

    overflow-x: hidden;
  }

  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .icon-container {
    padding: 10px;
    border-radius: 10px;
  }

  .icon-container:not(.selected-icon):hover {
    background-color: var(--hover-color);
  }

  .selected-icon {
    background-color: var(--selected-color);
  }

  .main-grid {
    margin-left: 78px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
  }

  .container {
    height: 100%;
    width: 100%;
    background-color: var(--container-color);
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-box-shadow);
    padding: 10px 20px 20px 20px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-color);
  }

  h2 {
    font-weight: 600;
    font-size: 2em;
  }

  .add {
    background-color: var(--selected-color);
    font-weight: bold;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--container-box-shadow);
  }

  .add:hover {
    cursor: pointer;
    background-color: var(--selected-hover-color);
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .projects-grid {
    overflow-y: auto;
    scrollbar-color: var(--selected-color) var(--container-color);
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 15px 25px 25px;
    margin: 15px 0;
    border-radius: var(--container-border-radius);
    cursor: pointer;
  }

  .project > span {
    font-family: monospace;
    color: var(--body-text-color);
  }

  .new-project {
    background-color: var(--selected-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px 25px 15px 25px !important;
  }

  .new-project:hover {
    cursor: default;
  }

  .new-project > input,
  .input-container > input,
  .input-container > select {
    background-color: var(--container-color);
    border: none;
    width: 100%;
    color: var(--header-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 18.72px;
  }

  .new-project > input::placeholder,
  .input-container > input::placeholder,
  .input-container > input[type="date"],
  .input-container > select {
    font-size: 17px;
    font-weight: 400;
    color: var(--body-text-color);
  }

  .new-project-buttons,
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }  

  .new-project-buttons > .pill {
    background-color: var(--selected-color);
  }

  .to-do-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 674px;
  }

  .pill-container {
    display: flex;
    gap: 15px;
  }

  .pill {
    border: 2px solid var(--header-text-color);
    padding: 5px 15px;
    background-color: var(--hover-color);
    font-family: monospace;
  }

  .pill:hover {
    cursor: pointer;
    background-color: var(--selected-color);
  }

  .add-button {
    border-radius: 50px;
    padding: 5px 26px;
  }

  .cancel-button {
    border-radius: 50px;
  }

  .filter-button {
    border-radius: 25px;
    color: var(--body-text-color);
    border: 2px solid var(--body-text-color);
  }

  .to-do-grid {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .to-do {
    background-color: var(--hover-color);
    padding: 20px 25px;
    border-radius: var(--container-border-radius);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    min-width: 700px;
  }

  .complete-button {
    width: 25px;
    height: 25px;
    border: 3px solid var(--header-text-color);
    border-radius: 50%;
  }

  .complete-button:hover {
    background-color: var(--header-text-color);
  }

  .to-do-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
  }

  .project,
  .to-do {
    min-width: 320px;
  }

  .project:not(.selected):not(.new-project):hover{
    background-color: var(--hover-color);
    cursor: pointer;
  }

  .to-do:hover {
    background-color: var(--selected-color);
    cursor: pointer;
  }

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .to-do-title {
    display: flex;
    justify-content: space-between;
  }

  .to-do-title > img {
    width: 24px;
  }

  .to-do-title > img:hover,
  .project-header > img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .to-do-description {
    font-family: monospace;
    color: var(--body-text-color);
  }

  .to-do-extras {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    color: var(--body-text-color);
    font-size: 15px;
  }

  .to-do-extras > span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px;

  }

  .new-to-do {
    display: flex;
    flex-direction: column;
    border: 1px solid #BEBEBE;
  }

  .input-container {
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .no-to-dos {
    text-align: center;
    padding-top: 90px;
    font-size: 1.5em;
  }

  .urgent {
    border: 1px solid var(--red);
  }

  .moderate {
    border: 1px solid var(--orange);
  }

  .low {
    border: 1px solid var(--green);
  }

  .selected {
    background-color: var(--selected-color);
  }

  .fade-out {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    100% {
      opacity: 0;
    }
  }