*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* --Reset--  */

  @font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
  }

  html, body {
    height: 100%;
    width: 100vw;
    scrollbar-color: var(--selected-color) var(--container-color);
  }

  html::-webkit-scrollbar {
    width: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84);
    border-radius: 8px;
  }
  
  html::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }

  body {
    --background-color: rgb(26, 26, 26);
    --container-color: rgb(33, 33, 33);
    --hover-color: rgb(44, 44, 44);
    --selected-color: rgb(64, 64, 64);
    --selected-hover-color: rgb(84, 84, 84);
    --container-border-radius: 20px;
    --container-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    --header-text-color: rgb(230, 231, 237);

    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    background-color: var(--background-color);
    display: flex;
    gap: 15px;

    padding: 15px;

    color: var(--header-text-color);

    overflow-x: hidden;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .icon-container {
    padding: 10px;
    border-radius: 10px;
  }

  .icon-container:not(.selected-icon):hover {
    background-color: var(--hover-color);
  }

  .selected-icon {
    background-color: var(--selected-color);
  }

  .main-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
  }

  .container {
    height: 100%;
    width: 100%;
    background-color: var(--container-color);
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-box-shadow);
    padding: 10px 20px 20px 20px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--container-color);
  }

  h2 {
    font-weight: 600;
    font-size: 2em;
  }

  .add {
    background-color: var(--selected-color);
    font-weight: bold;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--container-box-shadow);
  }

  .add:hover {
    cursor: pointer;
    background-color: var(--selected-hover-color);
  }

  .projects-container,
  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .projects-grid {
    overflow-y: auto;
    scrollbar-color: var(--selected-color) var(--container-color);
  }

  .project {
    background-color: var(--selected-color);
    padding: 25px 15px;
    border-radius: var(--container-border-radius);
  }